<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Attachment Studies Group - University of Minho</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/own.css" rel="stylesheet">
    <style type="text/css">
      body { padding-top: 60px; }
    </style>
    <script src="static/js/jquery.js" type="text/javascript" charset="utf-8">
    </script>
    <script src="static/js/tmpl.js" type="text/javascript" charset="utf-8">
    </script>
    <script src="static/js/ko.js" type="text/javascript" charset="utf-8">
    </script>
    <script src="static/js/ss.js" type="text/javascript" charset="utf-8">
    </script>
  </head>
  <body>
    <div class="topbar">
      <div class="white_fill">
        <div class="container">
          <h3><a href="http://uminho.pt"><img src="static/img/uminho-logo.png"/><img src="static/img/epsi-logo.png"/></a></h3>
          <ul class="nav" id="nav">
            <li id="nav_home"><a class="home" href="#/home">Home</a></li>
            <li id="nav_people"><a class="people" href="#/people">People</a></li>
            <li id="nav_research"><a class="research" href="#/research">Research</a></li>
            <li id="nav_publications"><a class="publications" href="#/publications" >Publications</a></li>
            <li id="nav_news"><a class="news" href="#/news">News</a></li>
            <li id="nav_contact"><a class="contact" href="#/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <section data-route="home" class="container">
      <div class="hero-unit" style="background-image: url('static/img/hero.jpg');">
        <h1>Attachment Studies Group</h1>
        <p/>
        <div class="hero-body">
          <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam.</p>
          <br/>
          <p style="text-align: right;"><a href="#/people" class="btn danger large">Learn more about us &raquo;</a></p>
        </div>
      </div>
      <div class="row">
        <div class="span8">
           <div id="publications_show_latest" data-bind="template: {name:'show_latest_publication'}"></div>
        </div>
        <div class="span8">
           <div id="news_show_latest" data-bind="template: {name:'show_latest_news'}"></div>
       </div>
      </div>
      <script type="text/x-jquery-tmpl" id="show_latest_news">
      {{if news.newest()}}
        <h2>News: ${news.newest().title}</h2>
        <p>${news.newest().description}</p>
        <p><a class="btn" href="${news.newest().permalink}">Read More &raquo;</a></p>
      {{/if}}
      </script>
      <script type="text/x-jquery-tmpl" id="show_latest_publication">
      {{if ko.app.models.publications.newest()}}
        <h2>Publication: ${publications.newest().title}</h2>
        {{html publications.newest().abstract}}
        <p><a class="btn" href="#/news/${publications.newest().permalink}">Read More &raquo;</a></p>
      {{/if}}
      </script>
    </section>
<!--
    <section data-route="people" class="container">
      <div id="staff_show" data-bind="template: {name:'show_staff'}"  class="container-fluid">
      </div>
      <div id="staff_list" class="row" data-bind="template: {name:'list_staff'}">
        
      </div>
      <script type="text/x-jquery-tmpl" id="show_staff">
      {{if selected_person()}}
        <div class="sidebar" style="align: center;">
          <div class="photo">
            <img src="${selected_person().image}"
                 alt="${selected_person().name}"/>
          </div>
          <div class="inline picture">
            <ul>
              <li><img style="vertical-align: middle;" src="static/img/email.png"/></li>
              <li><a href="mailto:somemail@psi.uminho.pt">somemail@psi.uminho.pt</a></li>
            </ul>
          </div>
        </div>
        <div class="content">
          <h1>${selected_person().name} <small>${selected_person().title}</small></h1>
          <div>
            {{html selected_person().description}}
          </div>
        </div>
      {{/if}}
      </script>
      <script type="text/x-jquery-tmpl" id="list_staff">
      {{each staff}}
        <div class="span4">
          <a href="#/people/${permalink}"><img src="${image}" alt="${name}"/></a>
          <h3><a href="#/people/${permalink}">${name}</a></h3>
          <em>${title}</em>
          <p/>
        </div>
      {{/each}}
      </script>
    </section>

    <section data-route="research" class="container">
      Research goes here
    </section>

    <section data-route="publications" class="container">
      <div id="publications_show" class="row" data-bind="template: {name:'show_publications'}"  class="container-fluid">
      </div>
      <div id="publications_list" class="row" data-bind="template: {name:'list_publications'}">
      </div>
      <script type="text/x-jquery-tmpl" id="show_publications">
      {{if selected_publication()}}
        <div class="span16">
          <h3>${selected_publication().title} <small>on ${selected_publication().date}</small></h3>
          <p>By <a href="#/people/${escape(selected_publication().author)}">${selected_publication().author}</a></p>
          <hr/>
          {{html selected_publication().abtract}}
        </div>
      {{/if}}
      </script>
      <script type="text/x-jquery-tmpl" id="list_publications">
      {{each publications}}
        <div class="span16">
          <h3>${title} <small>on ${date}</small></h3>
          <hr/>
          {{html abstract}}
          <p><a class="btn" href="#/publications/${permalink}">More Details &raquo;</a></p>
        </div>
      {{/each}}
      </script>
    </section>

    <section data-route="news" class="container">
      <div id="news_show" class="row" data-bind="template: {name:'show_news'}"  class="container-fluid">
      </div>
      <div id="news_list" class="row" data-bind="template: {name:'list_news'}">
      </div>
      <script type="text/x-jquery-tmpl" id="show_news">
      {{if selected_news_item()}}
        <div class="span16">
          <h3>${selected_news_item().title} <small>on ${selected_news_item().date}</small></h3>
          <p>By <a href="#/people/${ko.app.permalinks.staff(selected_news_item().author())}">${selected_news_item().author}</a></p>
          <hr/>
          {{html selected_news_item().body}}
        </div>
      {{/if}}
      </script>
      <script type="text/x-jquery-tmpl" id="list_news">
      {{each news}}
        <div class="span16">
          <h3>${title} <small>on ${date}</small></h3>
          <p>By <a href="#/people/${ko.app.permalinks.staff(author())}">${author}</a></p>
          <hr/>
          {{html body}}
          <p><a class="btn" href="#/news/${permalink}">Full Page &raquo;</a></p>
        </div>
      {{/each}}
      </script>
    </section>

    <section data-route="contact" class="container">
      <div class="container-fluid">
        <div class="sidebar">
          <address>
            Isabel Soares<br/>
            Escola de Psicologia<br/>
            Universidade do Minho<br/>
            Campus de Gualtar<br/>
            4710-057 Braga
          </address>
          <div class="inline picture">
            <ul>
              <li><img style="vertical-align: middle;" src="static/img/email.png"/></li>
              <li><a href="mailto:somemail@psi.uminho.pt">somemail@psi.uminho.pt</a></li>
            </ul>
          </div>
        </div>
        <div class="content">
          <div class="hero-unit">
            <div class="hero-body">
              Google map
            </div>
          </div>
        </div>
      </div>
    </section>
-->
    <div class="container" id="footer">
      <footer>
        <p align="right">Copyright 2011 Attachment Studies Group, University of Minho</p>
      </footer>
    </div>

    <script src="static/models.js" type="text/javascript" charset="utf-8">
    </script>
    <script src="static/visuals.js" type="text/javascript" charset="utf-8">
    </script>
    <script src="static/routes.js" type="text/javascript" charset="utf-8">
    </script>
    <script src="static/bindings.js" type="text/javascript" charset="utf-8">
    </script>
  </body>
</html>
