<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Attachment Studies Group - University of Minho</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/own.css" rel="stylesheet">
    <style type="text/css">
      body { padding-top: 60px; }
    </style>
    <script src="static/js/jquery.js" type="text/javascript" charset="utf-8">
    </script>
    <script src="static/js/tmpl.js" type="text/javascript" charset="utf-8">
    </script>
    <script src="static/js/ko.js" type="text/javascript" charset="utf-8">
    </script>
    <script src="static/js/ss.js" type="text/javascript" charset="utf-8">
    </script>
  </head>
  <body>
    <div class="topbar">
      <div class="white_fill">
        <div class="container">
          <h3><a href="http://uminho.pt"><img src="static/img/uminho-logo.png"/><img src="static/img/epsi-logo.png"/></a></h3>
          <ul class="nav" id="nav">
            <li id="nav_home"><a class="home" href="#/home">Home</a></li>
            <li id="nav_people"><a class="people" href="#/people">People</a></li>
            <li id="nav_research"><a class="research" href="#/research">Research</a></li>
            <li id="nav_publications"><a class="publications" href="#/publications" >Publications</a></li>
            <li id="nav_news"><a class="news" href="#/news">News</a></li>
            <li id="nav_contact"><a class="contact" href="#/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <section data-route="home" class="container">
      <div class="hero-unit" style="background-image: url('static/img/hero.jpg');">
        <h1>Attachment Studies Group</h1>
        <p/>
        <div class="hero-body">
          <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam.</p>
          <br/>
          <p style="text-align: right;"><a href="#/people" class="btn danger large">Learn more about us &raquo;</a></p>
        </div>
      </div><!--
      <div class="row">
        <div class="span8">
           <div id="publications_show_latest" data-bind="template: {name:'show_latest_publication'}"></div>
        </div>
        <div class="span8">
           <div id="news_show_latest" data-bind="template: {name:'show_latest_news'}"></div>
       </div>
      </div>-->
      <script type="text/x-jquery-tmpl" id="show_latest_news">
      {{if news.newest()}}
        <h2>${news.newest().title}</h2>
        <p>${news.newest().description}</p>
        <p><a class="btn" href="${news.newest().permalink}">Read More &raquo;</a></p>
      {{/if}}
      </script>
      <script type="text/x-jquery-tmpl" id="show_latest_publication">
      {{if ko.app.models.publications.newest()}}
        <h2>${publications.newest().title}</h2>
        {{html publications.newest().abstract}}
        <p><a class="btn" href="${publications.newest().permalink}">Download &raquo;</a></p>
      {{/if}}
      </script>
    </section>

    <section data-route="people" class="container">
      <div id="staff_show" data-bind="template: {name:'show_staff'}"  class="container">
      </div>
      <div id="staff_list" class="container" data-bind="template: {name:'list_staff'}">
        
      </div>
      <script type="text/x-jquery-tmpl" id="show_staff">
      {{if staff.selected()}}
      <div class="hero-unit" style="background-image: url('static/img/staff/${staff.selected().name}.jpg'); height: 470px;">
        <h1> ${staff.selected().name} 
          <small style="color: #404040">${staff.selected().title}</small>
        </h1>
        <p/>
        <div class="hero-body" style="width: 50%;">
          {{html staff.selected().description}}
          <a href="mailto:${staff.selected().email()}">
            <img style="vertical-align: middle;"
                 src="static/img/email.png" alt="Say Hi to ${staff.selected().name}"/>
          </a>
          <br/>
        </div>
      </div>
      {{/if}}
      </script>
      <script type="text/x-jquery-tmpl" id="list_staff">
      <h1>People</h1>
      {{each staff.collection()}} 
        <a href="#/people/${permalink}">
          <div class="hero-unit hero-thumb" style="background-image: url('static/img/staff/${name}.jpg'); height: 25px; background-position: 0px;">
            <h1 style="font-size: 1.5em;">
              ${name}
              <small style="color: #404040">${title}</small>
            </h1>
          </div>
        </a>
      {{/each}}
      </script>
    </section>

    <section data-route="research" class="container">
      <h1>Research</h1>
      <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam.</p>
    </section>

    <section data-route="publications" class="container">
      <div id="publications_show" class="row" data-bind="template: {name:'show_publications'}"  class="container-fluid">
      </div>
      <div id="publications_list" class="container" data-bind="template: {name:'list_publications'}">
      </div>
      <script type="text/x-jquery-tmpl" id="show_publications">
      {{if publications.selected()}}
        <div class="span16">
          <h3>${publications.selected().title} <small>on ${publications.selected().date}</small></h3>
          <p>By <a href="#/people/${escape(publications.selected().author)}">
            ${publications.selected().author}</a></p>
          <hr/>
          {{html publications.selected().abtract}}
        </div>
      {{/if}}
      </script>
      <script type="text/x-jquery-tmpl" id="list_publications">
      <h1>Publications</h1>
      <ul>
      {{each publications.collection()}}
        <li>${apa} <a href="#/publications/${permalink}">&raquo;</a>
        {{if download}}
          <a href="${download}"><img src="static/img/page_go.png"/></a>
        {{/if}}
        </li>
      {{/each}}
      </ul>
      </script>
    </section>

    <section data-route="news" class="container">
      <div id="news_show" class="row" data-bind="template: {name:'show_news'}"  class="container-fluid">
      </div>
      <div id="news_list" class="row" data-bind="template: {name:'list_news'}">
      </div>
      <script type="text/x-jquery-tmpl" id="show_news">
      {{if news.selected()}}
        <div class="span16">
          <h1>${news.selected().title} <small>on ${news.selected().date}</small></h1>
          <p>By 
            <a href="#/people/${ko.app.permalinks.staff(news.selected().author())}">
              ${news.selected().author}
            </a>
          </p>
          <hr/>
          {{html news.selected().body}}
        </div>
      {{/if}}
      </script>
      <script type="text/x-jquery-tmpl" id="list_news">
      <div class="span16"><h1>News</h1></div>
      {{each news.collection()}}
        <div class="span16">
          <h4>${title} <small>on ${date}</small></h4>
          {{html body}}
          <a href="#/news/${permalink}">Read More &raquo;</a>
          {{if title !== news.oldest() }}
            <hr/>
          {{/if}}
        </div>
      {{/each}}
      </script>
    </section>

    <section data-route="contact" class="container">
      <div class="container">
        <h1>Contact</h1>
        <div class="hero-unit">
          <div class="hero-body">
            Google map
          </div>
        </div>
        <div>
        <address>
          Isabel Soares 
          <a href="mailto:somemail@psi.uminho.pt"><img src="static/img/email.png"/></a> <br/>
          Escola de Psicologia<br/>
          Universidade do Minho<br/>
          Campus de Gualtar<br/>
          4710-057 Braga
        </address>
      </div>
    </section>

    <div class="container" id="footer">
      <footer>
        <p align="right"><small>Copyright 2011 Attachment Studies Group, University of Minho</small></p>
      </footer>
    </div>

    <script src="static/models.js" type="text/javascript" charset="utf-8">
    </script>
    <script src="static/helpers.js" type="text/javascript" charset="utf-8">
    </script>
    <script src="static/visuals.js" type="text/javascript" charset="utf-8">
    </script>
    <script src="static/routes.js" type="text/javascript" charset="utf-8">
    </script>
    <script src="static/bindings.js" type="text/javascript" charset="utf-8">
    </script>
  </body>
</html>
