.topbar h3 a { padding: 0px; }
.topbar div > ul .active > a, .nav .active > a { background-color: rgba(0, 0, 0, 0.5); }
.topbar div > ul a:hover, .nav a:hover {  color: #000; }
.topbar div > ul a, .nav a { color: #000; line-height: 17px;}
.topbar li { padding-top: 2px;}
.white_fill { background-color: rgba(255, 255, 255, 0.9); }
.paozinho li{display:inline;text-shadow:0 1px 0 #ffffff;}
.paozinho .divider{padding:0 5px;color:#bfbfbf;}
.paozinho .active a{color:#404040;}
.topbar .home_active         { padding-top: 0px; border-top: 2px solid #FC6; }
.topbar .people_active       { padding-top: 0px; border-top: 2px solid #6CF; }
.topbar .research_active     { padding-top: 0px; border-top: 2px solid #F66; }
.topbar .publications_active { padding-top: 0px; border-top: 2px solid #F6C; }
.topbar .news_active         { padding-top: 0px; border-top: 2px solid #6F6; }
.topbar .contact_active      { padding-top: 0px; border-top: 2px solid #66F; }
#nav li a:hover.home         { background-color: rgba(255, 204, 102, 0.1); }
#nav li a:hover.people       { background-color: rgba(102, 204, 255, 0.1); }
#nav li a:hover.research     { background-color: rgba(255, 102, 102, 0.1); }
#nav li a:hover.publications { background-color: rgba(255, 102, 204, 0.1); }
#nav li a:hover.news         { background-color: rgba(102, 255, 102, 0.1); }
#nav li a:hover.contact      { background-color: rgba(102, 102, 255, 0.1); }
